{
  "firebase": {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "messagingSenderId": "",
    "appId": ""
  },
  "filebase": {
    "apiKey": "",
    "apiSecret": "",
    "bucketName": "",
    "region": "us-east-1",
    "endpoint": "s3.filebase.com"
  }
}
